# dependencies
node_modules/

# build
dist/

# env
.env
.env.local

# logs
logs/
*.log
npm-debug.log*

# IDE
.idea/
.vscode/
*.swp
*.swo

# test
coverage/

# OS
.DS_Store
Thumbs.db

# Prisma
prisma/migrations/**/migration_lock.toml
